<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="post">
        <div id="content">
            <label for="username" name="username">Username</label>
            <input type="text" name="username" id="uname">
        </div>
        <div id="content">
            <label for="password">Password</label>
            <input type="password" name="password" id="pass">
        </div>
        <div id="content">
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>