<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= variable %> // showup on the website  JS output 
    <%  console.log("Hello")%> // js code  and not give an output
    <%- <h1>Hello </h1> %> // render html
    <%% Escape ejs tag %>
    <%# comments %> 
    <%- include("header.ejs") %> // insert another ejs file
</body>
</html>